
.cabecera {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-content: stretch;
    align-items: stretch;
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
}

header {
    background-color: #CAC9C9; 
}

.cabecera img {
height: 150px;
width: 180px;
}

.prueba {
    display: flex;
    justify-content: space-around;
    
}

.prueba nav {
    margin-right: 10px;
}


ul{
    display: none;
  }
  
input:checked  ~ ul{
    display:block;
  }

 /* input {
    display: none;
   } */

label {
    box-sizing: border-box;
    display: inline-block;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
  }

li {
    display: block;
    background: lightgrey;
    margin: 0;
    padding: 10px;
    list-style: none;
    border-bottom: 1px solid grey;
  }

label:hover{
    background: grey;
  }

input:checked ~ label {
    background: lightgrey; 
  }

ul{
    margin-top:0;
    padding: 0;
    width: 200px;
  }


li:hover {
    filter: brightness(110%);
  }



.body {
    display: flex;
    justify-content: space-between;
    padding: 150px;
    text-align: center;
    
}

.login {
    margin-top: 30px;
    margin-left: 200px;
}

h2 {
    margin-bottom: 50px;
}

.body input {
    margin-bottom: 30px;
}



.account { 
    margin-top: 30px;
    margin-right: 10px;
}

.account button {
    margin: 20px;
}

button {
    width: 500px;
    color: white;
    padding: 10px;
}

.create_account {
    background-color: black;
}

.button_facebook {
    background-color: #5B68C0;
}

.button_twitter {
    background-color: #5EA7FF;
} 

.button_login {
    background-color: red;
}

a {
    text-decoration: none;
    text-decoration-color: none;
}

footer {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    background-color: #CAC9C9;
}

footer h4 {
    margin-left: 50px;
    margin-right: 50px;
}

footer img {
    width: 100px;
    height: 30px;
    padding: 30px;
}
